- name: Create system user
  ansible.builtin.user:
   name: roboshop
   system: true
   home: /app
   shell: /sbin/nologin
   comment: roboshop system user

- name: Delete app folder
  ansible.builtin.file:
   name: /app
   state: absent

- name: Create app folder
  ansible.builtin.file:
   name: /app
   state: directory

- name: Delete the existing {{component}} zip code
  ansible.builtin.file:
   path: /tmp/{{component}}.zip
   state: absent

- name: Download {{component}} zip code
  ansible.builtin.get_url:
   url: https://roboshop-artifacts.s3.amazonaws.com/{{component}}-v3.zip
   dest: /tmp/{{component}}.zip

- name: Unarchive zip code
  ansible.builtin.unarchive:
   src: /tmp/{{component}}.zip
   dest: /app
   remote_src: yes


